<div class="verify-container">
  <h2>Verificar tu correo</h2>

  <form [formGroup]="verifyForm" (ngSubmit)="onSubmit()">
    <div>
      <label>Correo:</label>
      <input type="email" formControlName="correo"  />
    </div>

    <div>
      <label>Código recibido:</label>
      <input
        type="text"
        placeholder="Introduce el código"
        formControlName="codigo"
      />
    </div>

    <button type="submit" [disabled]="verifyForm.invalid || loading">
      {{ loading ? "Verificando..." : "Verificar" }}
    </button>

    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="success">{{ successMessage }}</div>
  </form>
</div>
