<nav class="navbar">
  <div class="nav-left">
    <img src="/assets/logob.png" alt="PisciApp" class="logo" />
  </div>

  <ul class="nav-links">
    <li><a routerLink="/inicio" routerLinkActive="active">Inicio</a></li>
    <li><a routerLink="/tareas" routerLinkActive="active">Tareas</a></li>
    <li>
      <a routerLink="/reporte-diario" routerLinkActive="active"
        >Reporte diario</a
      >
    </li>
    <li><a routerLink="/estanques" routerLinkActive="active">Estanques</a></li>
    <li><a routerLink="/empresa" routerLinkActive="active">Empresa</a></li>
    <li>
      <a routerLink="/configuracion" routerLinkActive="active">Configuración</a>
    </li>
    <li>
      <a routerLink="/inventario" routerLinkActive="active">Inventario</a>
    </li>
  </ul>

  <div class="nav-right" *ngIf="user">
    <div class="user-info">
      <div class="user-icon">
        {{ userInitials }}
      </div>
      <span class="username">{{ user.nombre }}</span>
    </div>
    <button class="logout-btn" (click)="logout()">Cerrar sesión</button>
  </div>
</nav>
