<nav class="navbar">
  <div class="nav-left">
    <img src="/assets/logob.png" alt="PisciApp" class="logo" />
  </div>

  <button class="menu-toggle" (click)="toggleMenu()">
    &#9776;
  </button>

  <ul class="nav-links" [class.active]="menuAbierto">
    <li><a routerLink="/inicioPerfil" routerLinkActive="active">Inicio</a></li>
    <li>
      <a routerLink="/diario" routerLinkActive="active">Reporte Diario</a>
    </li>
    <li><a routerLink="/empresa" routerLinkActive="active">Mi Empresa</a></li>
    <li>
      <a routerLink="/ciclos" routerLinkActive="active">Producción</a>
    </li>
    <li>
      <a routerLink="/inventario" routerLinkActive="active">Inventario</a>
    </li>
  </ul>

  

  <div class="nav-right" *ngIf="user">
    <div class="user-info">
      <button class="user-icon" (click)="perfil()" title="Perfil">
        
          {{ userInitials }}

      </button>
    </div>
    <button class="logout-btn" (click)="logout()">Cerrar sesión</button>
  </div>
</nav>