<h1>Lista de Productos</h1>

<div class="grid">
  <div class="card" *ngFor="let producto of productos">
    <figure class="card__media">
      <img [src]="producto.imagen" [alt]="producto.nombre" class="card__img" />
    </figure>
    <div class="card__body">
      <h2 class="card__title">algo{{ producto.nombre }}</h2>
      <div class="card__price">
        <span class="price__current">{{ producto.precio | currency:'COP' }}</span>
        <span class="price__installments" *ngIf="producto.cuotas > 1">
          en {{ producto.cuotas }}x {{ (producto.precio / producto.cuotas) | currency:'COP' }}
        </span>
      </div>
      <div class="card__meta">
        <span>{{ producto.envio }}</span>
        <span>{{ producto.ubicacion }}</span>
      </div>
    </div>
  </div>
</div>
