<app-navbar></app-navbar>


<h1 class="title">🐠 Catálogo del Acuario ignorar por ahora </h1>


<div class="grid">
  <div class="card" *ngFor="let producto of productos">
    <div class="card__media">
      <!-- Si tuvieras imagen en BD, reemplaza el src -->
      <img src="https://placehold.co/200x150?text=Acuario" alt="{{ producto.nombre }}">
    </div>

    <div class="card__body">
      <h2 class="card__title">{{ producto.nombre }}</h2>

      <div class="card__price">
        <span class="price__current">
          {{ producto.precio | currency:'COP':'symbol':'1.0-0' }}
        </span>
      </div>

      <div class="card__meta">
        <span class="stock" [class.low-stock]="producto.stock - getCantidadEnCarrito(producto) < 5">
          Stock disponible: {{ producto.stock - getCantidadEnCarrito(producto) }}
        </span>
      </div>

      <button class="btn-add" (click)="agregarAlCarrito(producto)"
        [ngClass]="{'btn-sin-stock': getDisponible(producto) === 0}">
        {{ getDisponible(producto) === 0 ? 'Sin stock' : 'Agregar al carrito' }}
      </button>
    </div>
  </div>
</div>